html, body{
    height: 100%;
    background-color: #ffffff !important;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c90ff;
}

.login-form {
    width: 370px;
    height:400px;
    padding: 20px;
    background-color: #222d32 !important;
    border-radius: 10px !important;
}

input[type="email"],
input[type="password"]{
    background: #1a2226;
    color: #fff;
    border: 2px solid #4c90ff;
    border-radius: 5px;
    margin-bottom: 10px;
}


input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background: #1a2226;
    color: #fff;
    margin: 7;
}

.card-body2 {
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4c90ff;
}

/* .display-8 {
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4c90ff;
} */

.card-title{
    font-weight: 600px;
    padding-top: 10px;
}

.btn{
    background: #4c90ff  !important;
    color: black !important;
    transform: translateY(-1px);
    font-size: 14px;
    border-radius: 10px !important;
}

.banner{
    background: url("https://static.vecteezy.com/system/resources/thumbnails/002/142/946/small_2x/futuristic-digital-technology-blue-background-free-vector.jpg")
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #ffffff;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    margin: auto;
    height: 100px;
    color: #fff;
    background-color:#4c90ff;
}

.lingkaran i {
    position: relative;
    top: 30px;
}

#chat3 .form-control {
    border-color: info;
}
    
#chat3 .form-control:focus {
    width: 340px;
    height: 300px;
    padding: 20px;
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 0px transparent;
}
    
.badge-dot {
    border-radius: 50%;
    height: 20px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}

.btn1{
    background: #4c90ff  !important;
    color: black !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}
    
.btn2{
    background: #ff0000  !important;
    color: black !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}
   

